*,
*::before,
*::after {
    // 1. Use a more-intuitive box-sizing model for all elements
    box-sizing: border-box;
}

// 2. Remove default margins for consistency
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

// 3. Set core body defaults
body {
    line-height: 1.5;
    // Improve text rendering (optional, may vary by preference)
    -webkit-font-smoothing: antialiased;
    // Use smooth scrolling if user prefers
    scroll-behavior: smooth;
}

// 4. Improve media defaults (images, video, etc.)
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

// 5. Inherit fonts for form controls
input,
button,
textarea,
select {
    font: inherit;
}

// 6. Remove list styles (bullets/numbers) on ul, ol elements with a class attribute
// This is a targeted reset, allowing you to use list styles when needed without a class
ul,
ol {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-transform: uppercase;
    font-weight: 600;
    color: #a7846e;
}

p {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
    color: inherit;
}

// 7. Create animations/transition for common elements
article,
header,
img,
section,
aside,
a,
a:hover,
button,
button:hover,
.btn,
.btn:hover,
input,
input:focus,
textarea,
textarea:focus {
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}


// Create a root stacking context (useful for certain modern layouts/frameworks)
// #root, #__next {
//   isolation: isolate;
// }

// Button styles
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    cursor: pointer;
    border: none;
    background: #f6f6f6;
    color: #a7846e;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    line-height: 1;

    &::after {
        content: '';
        position: relative;
        display: inline-block;
        width: 24px;
        height: 18px;
        margin-left: 10px;
        background-color: #a7846e;
        -webkit-mask: url(/images/arrow-right.svg) no-repeat center;
        mask: url(/images/arrow-right.svg) no-repeat center;
        transform: translateX(0px);
        transition: transform 0.3s ease;
    }
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6;
}

// Header styles
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #a7846e;

    .wrap {
        width: 100%;
        background-color: #eae8e2;
        margin: 0 auto;

        .content {
            display: flex;
            justify-content: space-between;
        }
    }

    nav {
        ul {
            display: flex;
            gap: 20px;

            li {
                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #a7846e;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }


    .auth-nav {
        display: flex;
        gap: 20px;

        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #a7846e;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .logo {
        width: 100%;
        max-width: 440px;
    }
}

// Main content styles
main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

// Quick Links Section
.quick-links {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    section {
        display: flex;
        align-items: center;
        width: calc(33.33% - 20px);
        background-color: #f6f6f6;

        img {
            height: 130px;
        }

        div {
            padding: 0 20px;
        }

        h2 {
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-size: 1.5em;
            margin-bottom: 10px;
        }

        a {
            display: inline-flex;
            justify-content: center;
            color: #000;
            line-height: 1;

            &::after {
                content: '';
                position: relative;
                display: inline-block;
                width: 23px;
                height: 18px;
                margin-left: 5px;
                background-color: #000;
                -webkit-mask: url(/images/arrow-right.svg) no-repeat center;
                mask: url(/images/arrow-right.svg) no-repeat center;
                transform: translateX(0px);
                transition: transform 0.3s ease;
            }
        }
    }
}

// About the Author Section
.about-author {
    width: calc(33.33% + 33.33%);
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;

    .author-photo {
        width: 50%;
        padding-right: 20px;

        img {
            width: 100%;
            height: auto;
            margin-bottom: 20px;
        }

        .btn {
            width: 100%;
        }
    }

    .author-bio {
        width: 50%;
        padding: 0 10px;

        h2 {
            margin-bottom: 30px;
        }

        p {
            font-size: 1em;
            line-height: 1.6;
        }
    }
}

// Latest Posts Section
.latest-posts {
    margin-bottom: 40px;

    h2 {
        margin-bottom: 30px;
    }

    .posts-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .post {
            display: flex;
            flex-direction: column;
            width: calc(33.33% - 20px);

            img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            h3 {
                font-size: 1.8em;
                line-height: 1.2;
                margin-bottom: 20px;
            }

            p {
                font-size: 1em;
                line-height: 1.6;
                margin-bottom: 10px;
            }

            .post-date {
                display: inline-flex;
                align-items: center;
                margin-bottom: 20px;
                font-size: 0.9em;
                color: #5d5d5f;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    background-color: #5d5d5f;
                    -webkit-mask: url(/images/date.svg) no-repeat center;
                    mask: url(/images/date.svg) no-repeat center;
                    -webkit-mask-size: contain;
                }
            }

            .btn {
                width: 100%;
                margin-top: auto;
            }
        }
    }
}

.upcoming-practices {
    .posts-container {
        .post {
            img {
                margin: 0;
            }

            .btn {
                margin: 0 0 20px 0;
            }
        }
    }
}

footer {
    background-color: #e9e3db;
    color: #745d4e;
    text-align: center;

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 60px;

        .footer-logo {
            height: auto;
        }

        ul {
            display: flex;
            gap: 15px;

            li {
                a {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #a7846e;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #c1ac9f;
        color: #fff;

        p {
            margin: 0;
            text-transform: uppercase;
        }
    }
}

// Media Queries
@media screen and (min-device-width: 1280px) {
    h2 {
        font-size: 3em;
        font-weight: 500;
        line-height: 1;
    }

    .btn {
        &:hover {
            background-color: #F4F3F0;

            &::after {
                transform: translateX(5px);
                transition: transform 0.3s ease;
            }
        }
    }

    header {
        padding-bottom: 40px;

        .wrap {
            height: 56px;
            margin-bottom: 40px;

            .content {
                width: 1280px;
                margin: 0 auto;
            }
        }
    }

    .quick-links {
        section {
            transition: box-shadow 0.3s ease, transform 0.3s ease;

            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transform: translateY(-5px);
            }

            a:hover {
                &::after {
                    transform: translateX(5px);
                    transition: transform 0.3s ease;
                }
            }
        }
    }

    footer {
        padding: 60px 0 0 0;

        .footer-top {
            .footer-logo {
                width: 510px;
            }
        }

        .footer-bottom {
            height: 70px;
        }
    }
}

@media screen and (max-width: 1200px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

@media only screen and (width: 1024px) and (height: 768px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 860px) {}

@media screen and (max-width: 768px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

@media screen and (max-width: 640px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

@media screen and (max-width: 420px) {}

@media screen and (max-width: 320px) {}