*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-weight: 600;
  color: #a7846e;
}

p {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

article,
header,
img,
section,
aside,
a,
a:hover,
button,
button:hover,
.btn,
.btn:hover,
input,
input:focus,
textarea,
textarea:focus {
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  cursor: pointer;
  border: none;
  background: #f6f6f6;
  color: #a7846e;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
}
.btn::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 24px;
  height: 18px;
  margin-left: 10px;
  background-color: #a7846e;
  -webkit-mask: url(/images/arrow-right.svg) no-repeat center;
  mask: url(/images/arrow-right.svg) no-repeat center;
  transform: translateX(0px);
  transition: transform 0.3s ease;
}

body {
  background-color: #fff;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #a7846e;
}
header .wrap {
  width: 100%;
  background-color: #eae8e2;
  margin: 0 auto;
}
header .wrap .content {
  display: flex;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  gap: 20px;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a7846e;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header .auth-nav {
  display: flex;
  gap: 20px;
}
header .auth-nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a7846e;
}
header .auth-nav li a:hover {
  text-decoration: underline;
}
header .logo {
  width: 100%;
  max-width: 440px;
}

main {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.quick-links {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.quick-links section {
  display: flex;
  align-items: center;
  width: calc(33.33% - 20px);
  background-color: #f6f6f6;
}
.quick-links section img {
  height: 130px;
}
.quick-links section div {
  padding: 0 20px;
}
.quick-links section h2 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.quick-links section a {
  display: inline-flex;
  justify-content: center;
  color: #000;
  line-height: 1;
}
.quick-links section a::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 23px;
  height: 18px;
  margin-left: 5px;
  background-color: #000;
  -webkit-mask: url(/images/arrow-right.svg) no-repeat center;
  mask: url(/images/arrow-right.svg) no-repeat center;
  transform: translateX(0px);
  transition: transform 0.3s ease;
}

.about-author {
  width: 66.66%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}
.about-author .author-photo {
  width: 50%;
  padding-right: 20px;
}
.about-author .author-photo img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.about-author .author-photo .btn {
  width: 100%;
}
.about-author .author-bio {
  width: 50%;
  padding: 0 10px;
}
.about-author .author-bio h2 {
  margin-bottom: 30px;
}
.about-author .author-bio p {
  font-size: 1em;
  line-height: 1.6;
}

footer {
  background-color: #e9e3db;
  color: #745d4e;
  text-align: center;
}
footer .footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 60px;
}
footer .footer-top .footer-logo {
  height: auto;
}
footer .footer-top ul {
  display: flex;
  gap: 15px;
}
footer .footer-top ul li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #a7846e;
}
footer .footer-top ul li a:hover {
  text-decoration: underline;
}
footer .footer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #c1ac9f;
  color: #fff;
}
footer .footer-bottom p {
  margin: 0;
  text-transform: uppercase;
}

@media screen and (min-device-width: 1280px) {
  h2 {
    font-size: 3em;
    font-weight: 500;
    line-height: 1;
  }
  .btn:hover {
    background-color: #F4F3F0;
  }
  .btn:hover::after {
    transform: translateX(5px);
    transition: transform 0.3s ease;
  }
  header {
    padding-bottom: 40px;
  }
  header .wrap {
    height: 56px;
    margin-bottom: 40px;
  }
  header .wrap .content {
    width: 1280px;
    margin: 0 auto;
  }
  .quick-links section {
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  .quick-links section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
  .quick-links section a:hover::after {
    transform: translateX(5px);
    transition: transform 0.3s ease;
  }
  footer {
    padding: 60px 0 0 0;
  }
  footer .footer-top .footer-logo {
    width: 510px;
  }
  footer .footer-bottom {
    height: 70px;
  }
}/*# sourceMappingURL=style.css.map */