*,
*::before,
*::after {
    // 1. Use a more-intuitive box-sizing model for all elements
    box-sizing: border-box;
}

// 2. Remove default margins for consistency
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

// 3. Set core body defaults
body {
    line-height: 1.5;
    // Improve text rendering (optional, may vary by preference)
    -webkit-font-smoothing: antialiased;
    // Use smooth scrolling if user prefers
    scroll-behavior: smooth;
}

// 4. Improve media defaults (images, video, etc.)
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

// 5. Inherit fonts for form controls
input,
button,
textarea,
select {
    font: inherit;
    border: 1px solid #a7846e;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #A7846E;
}

input {
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    background-color: transparent;

    &::placeholder {
        color: #999;
    }
}

input:focus {
    outline: none;
    border-color: #000;
    background-color: #fff;
}

// 6. Remove list styles (bullets/numbers) on ul, ol elements with a class attribute
// This is a targeted reset, allowing you to use list styles when needed without a class
ul,
ol {
    list-style: none;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-transform: uppercase;
    font-weight: 300;
    color: #a7846e;
}

h2 {
    color: #745D4E;
}

p {
    overflow-wrap: break-word;
    font-size: 1em;
    line-height: 1.8;
}

a {
    text-decoration: none;
    color: inherit;
}

// 7. Create animations/transition for common elements
article,
header,
img,
section,
aside,
a,
a:hover,
button,
button:hover,
.btn,
.btn:hover,
input,
input:focus,
textarea,
textarea:focus {
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}


// Create a root stacking context (useful for certain modern layouts/frameworks)
// #root, #__next {
//   isolation: isolate;
// }

// Button styles
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 0 15px;
    cursor: pointer;
    border: none;
    background: #f6f6f6;
    color: #a6846e;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    line-height: 1;

    &::after {
        content: '';
        position: relative;
        display: inline-block;
        width: 24px;
        height: 18px;
        margin-left: 10px;
        background-color: #745D4E;
        -webkit-mask: url(/images/arrow-right.svg) no-repeat center;
        mask: url(/images/arrow-right.svg) no-repeat center;
        transform: translateX(0px);
        transition: transform 0.3s ease;
    }

    &.btn-login,
    &.btn-register {
        width: 100%;
        height: 50px;
        background-color: #C1AD9D;
        color: #fff;

        &::after {
            background-color: #fff;
        }
    }

    &.btn-register {
        width: 100%;
    }
}

body {
    background-color: #fff;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1em;
    line-height: 1;
}

.wrap-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

// Header styles
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #a7846e;

    .wrap {
        position: fixed;
        z-index: 100;
        top: 0;
        width: 100%;
        background-color: #eae8e2;
        margin: 0 auto;

        .content {
            display: flex;
            justify-content: space-between;
        }
    }

    nav {
        ul {
            display: flex;

            li {
                a {
                    display: flex;
                    align-items: center;
                    position: relative;
                    height: 100%;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #a7846e;
                    line-height: 1;
                    padding: 0 .7em;

                    &:hover {
                        text-decoration: underline;
                    }

                    &.active {
                        &:hover {
                            cursor: default;
                            background-color: transparent;
                            color: #a7846e;
                        }

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 4px;
                            background-color: #a7846e;
                        }
                    }
                }
            }
        }
    }


    .auth-nav {
        display: flex;
        gap: 20px;

        li {
            a {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0 .7em;
                text-decoration: none;
                text-transform: uppercase;
                color: #a7846e;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .login-container {
        display: flex;
        flex-direction: column;
        width: 380px;
        position: absolute;
        right: 0;
        top: 56px;
        background-color: #f6f6f6;
        padding: 2rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            right: 20px;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #f6f6f6;
        }
    }

    .logo {
        width: 100%;
        max-width: 440px;
    }
}

// Main content styles
main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 30px;
        color: #745D4E;
    }

    form {
        width: 100%;
        max-width: 40%;
        background-color: #f6f6f6;
        padding: 30px;
        margin: 0 0 40px 0;
    }
}

// Quick Links Section
.quick-links {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;

    section {
        display: flex;
        align-items: center;
        width: calc(33.33% - 20px);
        background-color: #f6f6f6;

        img {
            height: 130px;
        }

        div {
            padding: 0 20px;
        }

        h2 {
            font-family: "Caveat", cursive;
            font-optical-sizing: auto;
            font-size: 1.5em;
            line-height: 1.3;
            font-weight: 800;
            margin-bottom: 10px;
        }

        a {
            display: inline-flex;
            justify-content: center;
            color: #000;
            line-height: 1;

            &::after {
                content: '';
                position: relative;
                display: inline-block;
                width: 23px;
                height: 18px;
                margin-left: 5px;
                background-color: #000;
                -webkit-mask: url(/images/arrow-right.svg) no-repeat center;
                mask: url(/images/arrow-right.svg) no-repeat center;
                transform: translateX(0px);
                transition: transform 0.3s ease;
            }
        }
    }
}

// About the Author Section
.about-author {
    display: flex;
    align-items: stretch;
    width: calc(33.33% + 33.33%);
    margin-bottom: 40px;

    .author-photo {
        width: 50%;
        padding-right: 20px;

        img {
            width: 100%;
            height: auto;
        }
    }

    .author-bio {
        display: flex;
        flex-direction: column;
        width: 50%;
        padding: 0 10px;

        h2 {
            margin-bottom: 30px;
        }

        p {
            margin-bottom: 20px;
        }

        .btn {
            margin-top: auto;
            width: 100%;
        }
    }
}

// Post Categories Section
.post-categories {
    display: flex;
    flex-direction: column;
    flex: auto;
    background-color: #f6f6f6;
    margin-left: 20px;
    padding: 30px;

    h3 {
        text-transform: none;
        font-weight: 400;
        color: #745D4E;
        margin-bottom: 30px;
    }

    ul {
        margin: 0;

        li {
            &:not(:last-child) {
                margin-bottom: 20px;
            }

            a {
                font-size: 1em;
                text-transform: uppercase;
                color: #68686a;
            }
        }
    }
}

// Latest Posts Section
.latest-posts {
    margin-bottom: 40px;

    h2 {
        margin-bottom: 30px;
    }

    .posts-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .post {
            display: flex;
            flex-direction: column;
            width: calc(33.33% - 20px);

            img {
                width: 100%;
                height: auto;
                margin-bottom: 20px;
            }

            h3 {
                line-height: 1.2;
                margin-bottom: 20px;
            }

            p {
                margin-bottom: 10px;
            }

            .post-date {
                display: inline-flex;
                align-items: center;
                margin-bottom: 20px;
                font-size: 0.9em;
                line-height: 1.3;
                color: #5d5d5f;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    margin-right: 5px;
                    background-color: #5d5d5f;
                    -webkit-mask: url(/images/date.svg) no-repeat center;
                    mask: url(/images/date.svg) no-repeat center;
                    -webkit-mask-size: contain;
                }
            }

            .btn {
                width: 100%;
                margin-top: auto;
            }
        }
    }
}

// Upcoming Practices Section
.upcoming-practices {
    .posts-container {
        .post {
            img {
                margin: 0;
            }

            .btn {
                margin: 0 0 20px 0;
            }
        }
    }
}

// Footer styles
footer {
    background-color: #e9e3db;
    color: #745d4e;
    text-align: center;

    .footer-top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-bottom: 60px;

        .footer-logo {
            height: auto;
        }

        ul {
            display: flex;
            gap: 15px;

            li {
                a {
                    text-decoration: none;
                    font-size: 1.5em;
                    color: #a7846e;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #c1ac9f;
        color: #745D4E;

        a {
            margin: 0;
            text-transform: uppercase;
        }
    }
}

// Media Queries
@media screen and (min-device-width: 1280px) {
    h2 {
        font-size: 2.4em;
        font-weight: 300;
        line-height: 1;
    }

    h3 {
        font-size: 1.5em;
    }

    .btn {
        &:hover {
            columns: #745D4E;
            background-color: #DDD2C5;

            &::after {
                transform: translateX(5px);
                transition: transform 0.3s ease;
            }
        }

        &.btn-login:hover {
            background-color: #A7846E;
        }
    }

    header {
        padding: 96px 0 40px;

        .wrap {
            height: 56px;
            margin-bottom: 40px;

            .content {
                position: relative;
                width: 1280px;
                height: 100%;
                margin: 0 auto;
            }
        }

        nav {
            ul {
                height: 100%;
                padding: 0;
                margin: 0;

                li {
                    a:hover {
                        text-decoration: none;
                        color: #745D4E;
                        background-color: #ddd2c5;
                    }
                }
            }
        }

        .auth-nav {
            height: 100%;
            padding: 0;
            margin: 0;

            li {
                a:hover {
                    text-decoration: none;
                    color: #745D4E;
                    background-color: #ddd2c5;
                }
            }
        }
    }

    .quick-links {
        section {
            transition: box-shadow 0.3s ease, transform 0.3s ease;

            &:hover {
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transform: translateY(-5px);
            }

            a:hover {
                &::after {
                    transform: translateX(5px);
                    transition: transform 0.3s ease;
                }
            }
        }
    }

    .latest-posts {
        .posts-container {
            .post {
                img {
                    opacity: 0.7;
                }

                &:hover {
                    img {
                        opacity: 1;
                        transform: translateY(-5px);
                    }
                }
            }
        }
    }

    footer {
        padding: 60px 0 0 0;

        .footer-top {
            .footer-logo {
                width: 510px;
            }
        }

        .footer-bottom {
            height: 70px;

            a:hover {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 1200px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

@media only screen and (width: 1024px) and (height: 768px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 860px) {}

@media screen and (max-width: 768px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

@media screen and (max-width: 640px) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}

@media only screen and (min-device-width: 320px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}

@media screen and (max-width: 420px) {}

@media screen and (max-width: 320px) {}